<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Editar nombre')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="card">
        <h2 th:text="'Editar nombre de ' + ${customer.name}">Editar nombre</h2>
        <form th:object="${updateNameForm}"
              th:action="@{'/customers/' + ${customer.id} + '/name'}"
              method="post">
            <label>Nuevo nombre</label>
            <input type="text" th:field="*{newName}">
            <div th:if="${#fields.hasErrors('newName')}" th:errors="*{newName}"></div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>
</body>
</html>
